@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
}

@mixin backgroundImage($percent) {
    background-position: $percent#{'%'} $percent#{'%'};
    background-repeat: no-repeat;
    background-size: cover;
}